/*
 * written by andrewt@cse.unsw.edu.au September 2015
 * as a starting point for COMP2041/9041 assignment 2
 * http://cgi.cse.unsw.edu.au/~cs2041/assignments/bitter/
 *
 * Change (or replace) the CSS below to create you own look-and-feel
 *
 * You will probably want to add  CSS to this file too
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 5px;
}

.bitter_heading {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.bitter_user_details {
    background-color: #E0E0E0 ;
    color: #204142;
    white-space: pre;
    padding-left: 0.42em;
}

.bitter_button {
    background-color: #FEDBCA;
    border:thin solid #904142;
    border-radius: 0.42em;
    color: #904142;
}

.row.vdivide [class='col-md-12']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}

.image img{
  width: 240px;
  height: 240px;
}

